<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{layout2}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{hotelPorCidade.title}"></span>
					</li>
				</ul>
			</div>
		</nav>
		<div>
			<form name ='form'>
				<table>
					<tr>
						<td>
							<span th:text="#{label.cidade}">:
						</td>
						<td>
							<select name='cidadeSelecionada' onchange='submit()'>
								<option value='0' th:text="#{label.selecione}"></option>
								<option th:each="nomeCidade : ${cidadesParaSelecionar}" th:text="${nomeCidade.getNome()}"></option>
							</select>
						</td>
					</tr>
				</table>
			</form>
		</div>
			
		<table border="1" style="width: 700px; border: 1px solid black">
			<tr>
				<th style="width: 25%; text-align: center;">
					<span th:text="#{label.cidade}"></span>
				</th>
				<th style="width: 25%; text-align: center;">
					<span th:text="#{label.nome}"></span>
				</th>
				<th style="width: 25%; text-align: center;">
					<span th:text="#{hotel.email}"></span>
				</th>
				<th style="width: 25%; text-align: center;">
					<span th:text="#{label.cnpj}"></span>
				</th>
			</tr>
			<tr th:each="hotel : ${hotelDaCidade}">
				<td style="text-align: center">
					<input th:value="${hotel.getCidade().getNome()}" style="text-align: center" disabled="true">
				</td>
				<td style="text-align: center">
					<input th:value="${hotel.getNome()}" style="text-align: center" disabled="true">
				</td>
				<td style="text-align: center">
					<input th:value="${hotel.getLogin()}" style="text-align: center" disabled="true">
				</td>
				<td style="text-align: center">
					<input th:value="${hotel.getCnpj()}" style="text-align: center" disabled="true">
				</td>
			</tr>
		</table>
	</section>
</body>
</html>