<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{layout2}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{hotelPorCidade.title}"></span>
					</li>
				</ul>
			</div>
		</nav>
		<div>
			<form name ='form'>
				<table>
					<tr>
						<td>
							<span th:text="#{label.cidade}">:
						</td>
						<td>
							<select name='cidadeSelecionada' onchange='submit()'>
								<option value='0' th:text="#{label.selecione}"></option>
								<option th:each="nomeCidade : ${cidadesParaSelecionar}" th:text="${nomeCidade.getNome()}"></option>
							</select>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="container">
			<table class="tabela" border="1">
				<tr>
					<th class="table-data">
						<span th:text="#{label.cidade}"></span>
					</th>
					<th class="table-data">
						<span th:text="#{label.nome}"></span>
					</th>
					<th class="table-data">
						<span th:text="#{hotel.email}"></span>
					</th>
					<th class="table-data">
						<span th:text="#{label.cnpj}"></span>
					</th>
				</tr>
				<tr th:each="hotel : ${hotelDaCidade}">
					<td class="table-data">
						<input class="table-data-input" th:value="${hotel.getCidade().getNome()}" disabled="true">
					</td>
					<td class="table-data">
						<input class="table-data-input" th:value="${hotel.getNome()}" disabled="true">
					</td>
					<td class="table-data">
						<input class="table-data-input" th:value="${hotel.getLogin()}" disabled="true">
					</td>
					<td class="table-data">
						<input class="table-data-input" th:value="${hotel.getCnpj()}" disabled="true">
					</td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>