<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{layout2}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{promoHotel.title}"></span>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container" id="listagem">
			<div class="table-responsive">
				<form name ='form'>
					<table>
						<tr>
							<td>
								<span th:text="#{label.cidade}">:
							</td>
							<td>
								<select name='cidadeSelecionada' onchange='submit()'>
									<option value='0' th:text="#{label.selecione}"></option>
									<option th:each="nomeCidade : ${cidadesParaSelecionar}" th:text="${nomeCidade.getNome()}"></option>
								</select>
							</td>
						</tr>
					</table>
				</form>
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>
								<span th:text="#{label.cidade}"></span>
							</th>
							<th>
								<span th:text="#{promoHotel.preco}"></span>
							</th>
							<th>
								<span th:text="#{promoHotel.iniciopromo}"></span>
							</th>
							<th>
								<span th:text="#{promoHotel.fimpromo}"></span>
							</th>
							<th>
								<span th:text="#{promoHotel.hotel.nome}"></span>
							</th>
							<th>
								<span th:text="#{promoHotel.site.nome}"></span>
							</th>
							<th>
								<span th:text="#{label.url}"></span>
							</th>
						</tr>
					</thead>
					<tr th:each="PromoHotel : ${promos}">
						<td th:text="${cidade.getNome()}"></td>
						<td th:text="|R$ ${#numbers.formatDecimal(PromoHotel.getPreco(),2,2,'COMMA')}|"></td>
						<td th:text="${PromoHotel.getInicio()}"></td>
						<td th:text="${PromoHotel.getFim()}"></td>
						<td th:text="${PromoHotel.getHotel().getNome()}"></td>
						<td th:text="${PromoHotel.getSitereserva().getNome()}"></td>
						<td th:text="${PromoHotel.getSitereserva().getUrl()}"></td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</body>
</html>